*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(89, 91, 88);
}
#top{
    margin: auto;
    background: url(IMG/BG\ group\ tittle.png);
    background-size: 990px 640px;
    background-position-x: center;
    place-content: center;
    display: grid;
    text-align: center;
    background-repeat: no-repeat;
}
.tittle{
    padding-top: 52px;
}
.sub-tittle{
    padding-top: 18px;
    text-align: center;
}
#menu #魚介カレー #牛タンラーメン #ひつまぶし{
    position: relative;
    padding-bottom: 136px;
    padding-left: 71px;
    justify-content: center;
}